doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='A modern retelling of the game of chess.')

		title Overkill

		// build:css css/style.min.css
		link(rel='stylesheet', href='css/style.css')
		// /build

	body
		div.board

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/plugins/CSSPlugin.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/easing/EasePack.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenLite.min.js')
		// build:js js/script.min.js
		script(src='js/script.js')
		// /build